body {
    box-sizing: border-box;
    padding: 0;
    color: white;
    background-color: black;
}

.game-container {
    border: 1px solid white;
    margin: auto;
    height: min-content;
    width: min-content;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cell {
    background-color: #1c1c1c;
    border: 1px solid white;
    height: 20px;
    width: 20px;
}

.cell.active {
    background-color: darkgreen;
}

.error {
    background-color: darkred;
    height: 30px;
    line-height: 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.gameOver {
    background-color: blue;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}